*{
    box-sizing: border-box;
}

body {
    
}

h1 {
    background-color: rgb(235, 235, 235);
    line-height: 100px;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
}
img {
    width: auto;
    height: 5rem;

}

.card-wrapper {
    
   margin: 0 auto;
    padding: 2rem;
}

.card {
    box-shadow: 2px 1px 1px rgba(0,0,0,.125);
    display: inline-block;
    width: 200px;
    padding: 1rem;
    height: 400px;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.5rem;
    
    
}

.descrizione {
    padding: 1rem;
    
}

.prezzo {
    padding: 0.2rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: chocolate;
}

.eliminami {
    all: unset;
    color: rgb(167, 167, 167);
    border-radius: 1rem;
    padding-left: 9rem;
}

.eliminami:hover {
    color: coral;
}

.remove {
    display: none;
}
