
span {
    color: rgb(0, 200, 255);
}
h1 {
    
    line-height: 100px;
    font-weight: bold;
    color: rgb(159, 159, 159);
    text-align: center;
    margin: 0;
}

form {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}


h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    height: 55px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    box-shadow: 2px 1px 1px rgba(0,0,0,.125);
    border: 1px solid rgba(0,0,0,.125);
    display: inline-block;
    margin: 0.5rem;
    z-index: 0;
    position: relative;
    border-radius: 1rem;
    
    
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}

.description {

    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    max-width: 100%;
    text-align: center;
    margin:1rem;
    
}

.card .year {
    text-align: center;
    font-size: 0.8rem;
    
}

.card:hover {
    border: 1px solid rgb(0, 200, 255);
    transform: scale(1.01);
}

.cardeffect {
    background-color: rgba(0, 0, 0, 0.914);
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: all 0.25s ease-in-out;

}

.cardeffect > img {
    
    width: 200px;
    height: auto;
    position: absolute;
    top: 40vh;
    left: 40vw;
    transform: translate(-50%, -50%);

}

.cardeffect h3 {
    position: absolute;
    top: 25vh;
    left: 48vw;
    color: white;
}

.cardeffect .description {
    position: absolute;
    top: 35vh;
    left: 48vw;
    margin: 0;
    color: white;
    max-width: 400px;
    white-space: normal;
    text-align: left;
    overflow: visible;
}

.cardeffect .year {
    position: absolute;
    top: 50vh;
    left: 48vw;
    margin: 0;
    color: white;
}

.cardeffect button {
    display: none;
}



input[id="title"],
input[id="description"],
input[id="poster"],
input[id="year"] {
    all: unset;
    border: 1px solid rgba(11, 147, 18, 0) ;
    background-color: whitesmoke;
    border-radius: 1rem;
    height: 2rem;
    padding-left: 1rem;
    width: 16rem;
    color: black;
}

select[id="categories"] {
    border: 1px solid rgba(11, 147, 18, 0) ;
    background-color: whitesmoke;
    border-radius: 1rem;
    height: 2rem;
    padding-left: 1rem;
    width: 16rem;
    color: black;
}

#allinput {
    all: unset;
    background-color:  rgb(0, 200, 255);
    border-radius: 0.3rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    
}

.forminput {
    display: none;
}

.show {
    display: visible;
}

#allinput.hidden {
    display: none;
}

#submit {
    all: unset;
    background-color:  rgb(0, 200, 255);
    border-radius: 1rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;

}
.eliminami {display: none;}

.card:hover .eliminami {
    all: unset;
    color: grey;
    position: absolute;
    top: 3px;
    right: 9px;
}

.modifica {display: none;}
.card:hover .modifica {
    all: unset;
    color: grey;
    position: absolute;
    top: 28px;
    right: 5px;
    z-index: 100;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(0, 166, 255);
}


